streamlit
pandas
langchain
langchain-google-genai
python-dotenv
python-docx
pypdf
scikit-learn
openpyxl
tqdm
google-generativeai
plotly
numpy
matplotlib
faiss-cpu
langchain-community
langgraph
pydantic>=2.0
